/* Tip Pop-Up */

position: relative;
width: 351px;
height: 281px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Closing your curtains insulates your home and prevents heat loss. */

position: absolute;
width: 220px;
height: 121px;
left: 66px;
top: 80px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;
text-align: center;

color: #000000;



/* Closing your curtains insulates your home and prevents heat loss. */

position: absolute;
width: 220px;
height: 121px;
left: 66px;
top: 80px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;
text-align: center;

color: #000000;



/* Closing your curtains insulates your home and prevents heat loss. */

position: absolute;
width: 220px;
height: 121px;
left: 66px;
top: 80px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;
text-align: center;

/* Black */
color: #000000;
